<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이슈모아</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        #content {
            max-width: 600px;
            margin: 50px auto;
            background: #fff;
            padding: 20px;
            border-radius: 4px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        }

        form {
            display: flex;
            flex-direction: column;
        }

        input[type="file"],
        input[type="text"],
        input[type="submit"] {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: #fff;
            cursor: pointer;
            border: none;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

    </style>
</head>

<body>
    <!-- Modal -->
    <div class="header-main-area ">
        <div class="hm-container">
            <div class="site-branding">
                <div class="site-branding-content">
                    <div class="hm-logo"></div>
                    <div class="hm-site-title">
                        <h1 class="site-title"><a href="http://ko.cic-school.com" rel="home">이슈모아</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hm-nav-container">
        <nav id="site-navigation" class="main-navigation" role="navigation">
            <div class="hm-container">
                <div class="menu-%eb%a9%94%eb%89%b4-1-container">
                    <ul id="primary-menu" class="menu">
                        <li id="menu-item-90994"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-90990 current_page_item menu-item-90994">
                            <a href="http://ko.cic-school.com" aria-current="page">HOME</a>
                        </li>
                        <li id="menu-item-91003"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-91003">
                            <a href="#">이슈</a>
                        </li>
                        <li id="menu-item-90997"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-90997">
                            <a href="#">사건사고</a>
                        </li>
                        <li id="menu-item-90998"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-90998">
                            <a href="#">연예</a>
                        </li>
                        <li id="menu-item-90999"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-90999">
                            <a href="#">동물</a>
                        </li>
                        <li id="menu-item-91000"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-91000">
                            <a href="#">해외</a>
                        </li>
                        <li id="menu-item-91001"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-91001">
                            <a href="#">스포츠</a>
                        </li>
                    </ul>
                </div>
                <div class="hm-search-button-icon"></div>
                <div class="hm-search-box-container">
                    <div class="hm-search-box">
                        <form role="search" method="get" class="search-form" action="http://dotori12.com/">
                            <label>
                                <span class="screen-reader-text">검색:</span>
                                <input type="search" class="search-field" placeholder="검색 …" value="" name="s">
                            </label>
                            <input type="submit" class="search-submit" value="검색">
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <div class="hm-nwrap">
            <a href="#" class="navbutton" id="main-nav-button">
                <span class="main-nav-btn-lbl">Main Menu</span> </a>
        </div>
        <div class="responsive-mainnav">
            <div class="hm-nwrap">
                <ul id="primary-menu" class="menu">
                    <li id="menu-item-90994"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-90990 current_page_item menu-item-90994">
                        <a href="#" aria-current="page">HOME</a>
                    </li>
                    <li id="menu-item-91003"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-91003"><a
                            href="#">이슈</a></li>
                    <li id="menu-item-90997"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-90997"><a
                            href="#">사건사고</a></li>
                    <li id="menu-item-90998"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-90998"><a
                            href="#">연예</a></li>
                    <li id="menu-item-90999"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-90999"><a
                            href="#">동물</a></li>
                    <li id="menu-item-91000"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-91000"><a
                            href="#">해외</a></li>
                    <li id="menu-item-91001"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-91001"><a
                            href="#">스포츠</a>
                    </li>
                </ul>
            </div>
            <div class="hm-nwrap">
                <ul id="primary-menu" class="menu">
                    <li id="menu-item-90994"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-90990 current_page_item menu-item-90994">
                        <a href="#" aria-current="page">HOME</a>
                    </li>
                    <li id="menu-item-91003"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-91003">
                        <a href="#">이슈</a>
                    </li>
                    <li id="menu-item-90997"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-90997">
                        <a href="#">사건사고</a>
                    </li>
                    <li id="menu-item-90998"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-90998">
                        <a href="#">연예</a>
                    </li>
                    <li id="menu-item-90999"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-90999">
                        <a href="#">동물</a>
                    </li>
                    <li id="menu-item-91000"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-91000">
                        <a href="#">해외</a>
                    </li>
                    <li id="menu-item-91001"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-91001">
                        <a href="#">스포츠</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <section id="content" class="site-content">
        <form ref='uploadForm' id='uploadForm' action='/upload' method="post" enctype="multipart/form-data">
            <!-- multiple 속성 제거하여 단일 파일만 선택 가능하게 합니다. -->
            <input type="file" name="files1" />
            <input type="file" name="files2" />
            <input type="file" name="files3" />
            <input type="file" name="files4" />
            <input type="file" name="files5" />
            <input type="text" name="title" placeholder="게시글 제목을 입력해주세요." required>
            <input type='submit' value='Upload!' />
        </form>
    </section>
    
    

    
    
    
</body>

</html>